@import "./fonts/vazir/font-face.css";

html, body{
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    font-family: Vazir, 'sans-serif';
}
.form-switch .form-check-input{

    width: 3.55rem;
    height: 2rem;
}